
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  z-index: +1; position: fixed;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;

}

body {
  margin: 0;
  color: #244751;
  background-color: #F3F3F3;
  font-family: 'Roboto', sans-serif;
;
}

main {
  width: 450px;
  background-color: #fff;
  padding-top: 140px;
  margin: auto;
}

#nav-bar .logo {
  float:left;
  width: 80px;
  height: 80px;
 }

#nav-bar .header {
  float: left;
  padding-left: 10px;
  line-height: 80px;
  font-size: 2em;
 }

 #nav-bar button {
  float: right;
  width: 120px;
  height: 60px;
  margin: 10px;
  border-radius: 10px;
  background-color: #E7FDFF;
  border: 1px solid black;
 }

 #nav-bar button:hover {
  background-color: #fff;
 }

 @media screen and (max-width: 450px) {
   .container {
    width: 100%;
  }

  #nav-bar .header {
    width: 25%;
  }

  #nav-bar #nav-text {
    visibility: hidden;
  }

